extends layout

block content
  h1 LastFM Chart
  p.lead Connect your LastFM account
  hr
  
  .container-fluid.py-4
    .row.mt-4
      .col-12
        .card.shadow-lg
          .card-body.px-5.z-index-1.bg-cover
            form(action='/contact', method='get')
              .row.mt-4
                .col-md-6
                  .form-group
                    input.form-control#usernameInput(type='username', name='username', placeholder='username')
                .col-md-6
                  button.btn.btn-primary(type='submit', title='Search', style='background-color: #d21309') Search