extends layout

block content
  h1 LastFM Chart
  p.lead Connect your LastFM account
  hr
  
  .container-fluid.py-4
    .row.mt-4
      .col-12
        .card.shadow-lg
          .card-body.px-5.z-index-1.bg-cover
            form(action='/contact', method='get')
              .row.mt-4
                .col-md-6
                  .form-group
                    input.form-control#usernameInput(type='username', name='username', placeholder='username')
                .col-md-6
                  .button-row.d-flex.mt-4(style='background-color: #d21309')
                    button.btn.bg-gradient-dark.ms-auto.mb-0.js-btn-next(type='submit', title='Search') Search
