extends ../layout

block content

  .container-fluid.py-4
      h3 Top Artists
      ul.list-group
          each artist in user.topArtists
              li.list-group-item.d-flex.justify-content-between
                  div
                      a(href=artist.url target="_blank")
                          | #{artist.name}
                  img(src=artist.imageUrl)
                  div
                      i.fas.fa-headphones.iconpadding
                      | Play Count: #{artist.playcount}
  